.slideshow-container {
    position: relative;
    max-width: 100%;
    margin: auto;
}

.mySlides {
    display: none;
}

.dots-container {
    text-align: center;
    padding: 10px;
    position: absolute;
    bottom: 15px;
    width: 100%;
}

.dot {
    height: 15px;
    width: 15px;
    margin: 0 5px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}
